header {
    height: 10vh;
    background-color: #F54284;
}

.img {
    height: 10vh;
    float: left;
}

nav {
    text-align: center;
    
}

nav ul a {
    color: white;
    padding: 3vh;
    display: inline-block;
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    height: 80;
}

footer {
    height: 10;
}